.display {
    background: linear-gradient(to right bottom, #4b4b4caf, var(--bg-display));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.display > input {
    background-color: transparent;
    color: #ffffff;
    font-size: 1.3rem;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 0.5rem;
    text-align: right;
}
