.calculator {
    position: relative;
    height: 20rem;
    width: 14.75rem;
    border-radius: 0.4rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 3rem);
    width: 100%;
    height: 100%;
}
