@use "../1-base/variables" as vars;

.input {
    border: 2px solid #ffffff;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem;
    width: 100%;
    color: #000000;
    font-size: 0.875rem;
    transition: 0.25s;

    &--half {
        border-radius: 2rem 0 0 2rem;
        border-right: none;
    }

    &::placeholder {
        font-size: 0.875rem;
        color: vars.$gray-text-color;
    }

    &:focus {
        border-color: vars.$primary-color;
    }
}
