@use "../1-base/variables" as vars;
@use "../1-base/mixins" as mixins;

.product {
    position: relative;
    width: 20%;
    border: 1px solid vars.$gray-text-color;
    padding: 1.5rem 1rem;
    transition: 0.4s;

    @include mixins.mobile-820 {
        width: 80%;
    }

    @include mixins.mobile-420 {
        width: 100%;
    }

    &:hover {
        border-color: vars.$primary-color;
    }

    &__label {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: fit-content;
        margin-left: auto;
        padding: 0.04rem 0.4rem;
        border: 1px solid vars.$primary-color;
        color: vars.$primary-color;
        font-size: 0.875rem;

        &--solid {
            background-color: vars.$primary-color;
            color: vars.$light-color;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    &__category {
        text-transform: uppercase;
        color: vars.$gray-text-color;
        font-size: 0.875rem;
        text-align: center;
    }

    &__info {
        @include mixins.display-flex($direction: column, $gap: 0.75rem);
        text-align: center;
        margin-bottom: 1rem;
    }

    &__name {
        text-transform: uppercase;
        font-size: 1.05rem;
        font-weight: 700;
    }

    &__price {
        color: vars.$primary-color;
        font-weight: 700;
        font-size: 1.3rem;
    }
}
