.macos-bar {
    position: absolute;
    margin: 0.25rem 0.5rem;
}

.macos-bar > span {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
}

span.close-option {
    background-color: #fd5951;
}

span.minimize-option {
    background-color: #f1bc39;
    margin: 0 0.4rem;
}

span.zoom-control {
    background-color: #52c22a;
}
