.btn {
    @apply relative self-center p-2 rounded-sm transition-all;
}

.btn--hidden {
    @apply hidden;
}

.btn--submit {
    @apply bg-sky-600 ring-2 ring-sky-600 hover:bg-sky-800 hover:ring-sky-800
    focus-visible:ring-sky-600 focus-visible:bg-sky-800 active:ring-sky-800
    active:bg-sky-600;
}

.btn--search {
    @apply bg-cyan-500 ring-2 ring-cyan-500 hover:bg-cyan-700 hover:ring-cyan-700
    focus-visible:ring-cyan-500 focus-visible:bg-cyan-700 active:ring-cyan-700
    active:bg-cyan-500;
}

.btn--delete {
    @apply bg-red-600 ring-2 ring-red-600 hover:bg-red-800 p-1
    hover:ring-red-800 focus-visible:ring-red-600 focus-visible:bg-red-800
    active:ring-red-800 active:bg-red-600;
}

.btn--undo {
    @apply bg-yellow-600 ring-2 ring-yellow-600 hover:bg-yellow-800 p-1
    hover:ring-yellow-800 focus-visible:ring-yellow-600 focus-visible:bg-yellow-800
    active:ring-yellow-800 active:bg-yellow-600;
}

.btn--confirm {
    @apply bg-green-600 ring-2 ring-green-600 hover:bg-green-800 p-1
    hover:ring-green-800 focus-visible:ring-green-600 focus-visible:bg-green-800
    active:ring-green-800 active:bg-green-600;
}
