/*Filter tag*/
.filter-tag {
    @apply px-2 py-1 bg-neutral-100 rounded w-fit text-sm text-neutral-700 border
    border-neutral-300 max-w-xs overflow-hidden text-ellipsis whitespace-nowrap
    mt-4 flex gap-1 items-center justify-center;
}

.filter-tag--slide {
    @apply animate-[slide_0.6s_forwards_ease-in-out];
}

.filter-tag__btn {
    @apply rounded border border-transparent hover:border-neutral-500 transition-all;
}

/*Button tag*/
.button-tag {
    @apply invisible opacity-0 bg-neutral-700 text-white
    px-3 py-1 absolute right-1/3 top-[calc(100%+8px)] rounded-sl z-50 pointer-events-none
    whitespace-nowrap text-sm before:h-0 before:w-0 before:border-l-8
    before:border-l-transparent before:border-r-8 before:border-r-transparent
    before:border-b-8 before:border-b-neutral-700 before:absolute
    before:-top-1 before:right-2;
}

@media (min-width: 640px) {
    .btn:hover .button-tag {
        @apply animate-opacity;
    }
}
