@tailwind base;
@tailwind components;
@tailwind utilities;

/*Início - Estilos css padrão*/
.shadow-bottom {
    box-shadow: 0 2px 2px -2px #cfcfcf;
}

body,
.root {
    min-width: fit-content;
}

.loading-gradient {
    background-size: 200% 100%;
    background-image: linear-gradient(135deg, #d4d4d4 8%, #c0bfbf 18%, #d4d4d4 33%);
    animation: gradient 2s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: -200% 100%;
    }
}
/*Fim - Estilos css padrão*/

/*Início - Estilos do tailwind*/
.page-header {
    @apply mt-8 pb-4 border-b-2 border-neutral-200 shadow-bottom
    shadow-neutral-50 animate-display;
}

.menu-header {
    @apply bg-neutral-800 rounded-lg py-4 px-6 flex gap-6 text-gray-300
    items-center min-w-fit;
}

.button-tag {
    @apply opacity-0 group-hover/button:animate-opacity bg-neutral-700 text-white
    px-3 py-1 absolute right-1/3 top-[calc(100%+8px)] rounded-sl z-50 pointer-events-none
    whitespace-nowrap text-sm before:h-0 before:w-0 before:border-l-8
    before:border-l-transparent before:border-r-8 before:border-r-transparent
    before:border-b-8 before:border-b-neutral-700 before:absolute
    before:-top-1 before:right-2;
}

.form-input {
    @apply border-2 rounded-md outline-none focus:border-sky-600 transition-all
    w-full px-4 py-2;
}

.table-data {
    @apply py-2 border-b-2 border-neutral-200 text-neutral-700 translate-x-5 pr-2
    break-words;
}

.td-actions {
    @apply py-2 px-2 whitespace-nowrap border-b-2 border-neutral-200 text-neutral-700 pr-8
    text-right w-32;
}

.task-mark {
    @apply absolute h-5/6 w-1 -left-4 top-2/4 -translate-y-2/4 rounded-full;
}

.task-done {
    @apply line-through decoration-green-600 decoration-2;
}

.description-done {
    @apply text-neutral-400;
}

.filter-tag {
    @apply px-2 py-1 bg-neutral-100 rounded w-fit text-sm text-neutral-700 border
    border-neutral-300 max-w-xs overflow-hidden text-ellipsis whitespace-nowrap
    mt-4 flex gap-1 items-center justify-center;
}

.link {
    @apply hover:text-gray-50 relative transition-all;
}

.list-loading-container {
    @apply border-b-2 border-neutral-300 pl-4 pr-6 py-2 flex justify-between
    items-center gap-6;
}
/*Fim - Estilos do tailwind*/
